html {
  --base-font-size: 11px;
  --header-font-size: 12px;
  --admin-font-size: 14px;
  --shipping-order-info-font-size: 18px;
  --shipping-base-font-size: 13px;
  --shipping-address-font-size: 20px;
  --shipping-note-font-size: 17px;
}

@media print {
  @page {
      margin-top: 10mm; /* Adjust this value to reduce or increase the top margin */
      margin-bottom: 10mm; /* You can adjust other margins as well */
      margin-left: 10mm; 
      margin-right: 10mm;
  }

  /* Optionally, adjust other print styles to optimize the layout */
  #invoice-container {
      padding-top: 0; /* Adjust the padding if needed */
  }
}


#wc-print-buttons-sidebar {
  margin-top: 20px;
  font-size: var(--admin-font-size, 14px);
}

#wc-print-buttons-sidebar .button {
  margin: 5px 0;
  display: block;
  width: 100%;
  font-size: var(--admin-font-size, 14px); /* Explicitly set button font size */
}

.mmls-print-buttons {
  margin-top: 20px;
}

.mmls-print-buttons .button {
  margin: 5px 0;
  display: block;
  width: 100%;
}

/* for invoice container */
#invoice-container {
  font-family: Arial, sans-serif;
  margin: 5px 20px;
}

#invoice-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

#invoice-container table {
  width: 100%;
  max-width: 1000px;
  border-collapse: collapse;
  margin-bottom: 5px;
}

#invoice-container table, 
#invoice-container th, 
#invoice-container td,
#order-detail table,
#order-detail td {
  border: 1px solid #ddd;
}

#invoice-container td.stick-to-right {
  text-align: right;
}

#invoice-container th, 
#invoice-container td {
  text-align: center;
  font-size: var(--header-font-size, 12px);
  padding: 8px;
}

#invoice-container th {
  background-color: #f4f4f4;
}

#invoice-container tr:nth-child(even) {
  background-color: #f9f9f9;
}

#invoice-container .total {
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
}

#invoice-container .label-box {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}

/* for invoice header */
#invoice-header {
  text-align: center;
  margin-bottom: 3px;
  padding: 5px 0;
  /*border-bottom: 1px solid #ccc;*/
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1000px;
  /*margin: 0 auto;*/
}

.header-content span,
#order-detail span,
#shipping-address span {
  font-weight: bold;
}

.logo-section {
  flex: 2;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.logo-section img,
#order-detail img {
  max-width: 200px;
  height: auto;
}

.logo-section .order-info {
  display: flex;
  flex-direction: column;
}

.logo-section .order-info > p {
  font-size: var(--base-font-size, 11px);
  padding: 0px;
  margin: 2px;
}

.address-section {
  flex: 1;
  padding-left: 20px;
  text-align: left;
}

.address-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  text-align: left;
}

.address-header,
.shipping-address-header {
  font-weight: bold;
  font-size: var(--header-font-size, 12px);
  margin-bottom: 2px;
  margin-top: 0px;
}

.address-section .address-spacer{
  height: 5px;
}

.address-details {
  font-size: var(--header-font-size, 12px);
  line-height: 1.5;
}


/* for invoice footer */
#footer-container,
#shipping-footer {
  position: fixed; /* Position it at the fixed position on the screen */
  bottom: 5px; /* Align it at the bottom of the page */
  left: 20px; /* Align it to the left of the page */
  width: 100%; /* Ensure it stretches the full width */
  max-width: 1000px;
  /*border-top: 1px solid #ddd;*/ /* Optional border on top for separation */
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-content: flex-start;
  font-size: var(--base-font-size, 11px);
}

#footer-container #footer-contact-info {
  display: flex;
  flex-direction: row;
}

/* for shipping */
#shipping-body,
#shipping-address,
#shipping-footer {
  font-family: Arial, sans-serif;
}

#shipping-body {
  font-family: Arial, sans-serif;
  display: flex;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
}

#shipping-body div {
  padding: 0px;
  margin: 0px;
}

#shipping-body #order-detail {
  flex: 1;
}

#shipping-body #shipping-address {
  flex: 2;
}

#shipping-body #order-detail {
  border-right: 1px solid #ddd;
  margin-right: 30px;
}

#order-detail {
  font-size: var(--shipping-order-info-font-size, 18px);
}

#order-detail table {
  /* other stylings shared with invoice-container */
  border-collapse: collapse;
}

#order-detail td {
  padding: 8px;
}

#order-detail .comp-logo {
  margin-bottom: 10px;
}

#order-detail .order-number {
  margin-bottom: 20px;
}

#shipping-address {
  line-height: 1.8;
}

#shipping-address{
  font-size: var(--shipping-address-font-size, 20px); 
}

#shipping-address #shipping-state-city-combined {
  display: flex;
  gap: 3px;
}

#shipping-address .shipping-note {
  font-size: var(--shipping-note-font-size, 17px);
  padding-top: 20px;
}

#shipping-footer {
  /* main styling is shared with footer-container*/
  border-top: 1px solid #ddd;
  font-size: var(--shipping-base-font-size, 13px);
  padding-top: 10px;
}